@using UniAssist.Services
@using UniAssist.Enums
@inherits LayoutComponentBase
@inject IThemeService ThemeService
@inject StoreService StoreService

<MatThemeProvider Theme="Current">
    <div id="main">
        @Body
    </div>
</MatThemeProvider>

@code {

    private MatTheme Current { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UpdateTheme();
        this.StoreService.OnChange += UpdateTheme;
        // TODO: Remove
    }

    readonly MatTheme _lightTheme = new()
    {
        Primary = "#2962ff",
        Secondary = "#880e4f",
        Surface = "#ffffff",
        OnPrimary = "white",
        OnSecondary = "white",
        OnSurface = "black"
    };
    
    readonly MatTheme _darkTheme = new()
    {
        Primary = "#2962ff",
        Secondary = "#880e4f",
        Surface = "#242424",
        OnPrimary = "white",
        OnSecondary = "white",
        OnSurface = "white"
    };

    private MatTheme GetTheme()
    {
        return this.StoreService.GetTheme() == ThemeType.Dark ? _darkTheme : _lightTheme;
    }

    private async void UpdateTheme()
    {
        this.Current = this.GetTheme();
        await InvokeAsync(StateHasChanged);
    }
}