<div>
    @if (StartDivider)
    {
        <MatDivider></MatDivider>
    }
    <div id="data">
        <MatTooltip Tooltip="@GetTooltipMessage()">
            <div @ref="context.Current" id="title">
                @Period.Name
            </div>
        </MatTooltip>
        <div>&nbsp;(@Period.FolderName)</div>
        <span class="spacer"></span>
        <MatTooltip Tooltip="@("Open " + Period.Name + " on new page")">
            <MatIconButton RefBack="context" Icon="open_in_new"></MatIconButton>
        </MatTooltip>

    </div>
    @if (EndDivider)
    {
        <MatDivider></MatDivider>
    }
</div>