#data {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    transition-duration: 0.8s;
}

#data:hover {
    background-color: #b390ff70;
    transition-duration: 0.8s;
}

#data #title {
    font-weight: bold;
    font-size: 1.2rem;
}

#data .spacer {
    flex-grow: 1;
}