<div>
    @if (StartDivider)
    {
        <MatDivider></MatDivider>
    }
    <div id="data">
        <MatTooltip Tooltip="@GetTooltipMessage()">
            <div @ref="context.Current" id="title">
                @Subject.LongName
            </div>
        </MatTooltip>
        <div>&nbsp;(@Subject.ShortName)</div>
        <span class="spacer"></span>
        <MatTooltip Tooltip="@("Open " + Subject.ShortName + " on new page")">
            <MatIconButton RefBack="context" Icon="open_in_new" OnClick="Open"></MatIconButton>
        </MatTooltip>

    </div>
    @if (EndDivider)
    {
        <MatDivider></MatDivider>
    }
</div>