@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --mdc-typography-font-family: 'Zilla Slab';
}

html, body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    font-family: 'Zilla Slab', sans-serif;
    background: linear-gradient(to top right, #0033cc66 0%, #00ffff66 100%);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.main-card {
    width: 500px;
    height: 500px;
}
