#theme-switch {
    text-align: right;
}

h1 {
    margin-bottom: 1rem;
}

h5 {
    margin-bottom: 1rem;
}

#wd-input {
    margin-bottom: 1rem;
}

.success {
    color: green;
}

.not-success {
    color: red;
}

.not-success, .success {
    font-weight: bold;
}