@page "/periods"

<MatCard Class="content-card p-2" Stroke="true">
    <div class="page-title">
        <h1>Periods (@Periods.Count)</h1>
        <span class="spacer"></span>
        @if (IsAdding)
        {
            <MatTooltip Tooltip="Save Period creating">
                <MatIconButton RefBack="context" Icon="save" OnClick="SaveAdding"></MatIconButton>
            </MatTooltip>
            <MatTooltip Tooltip="Cancel Period creating">
                <MatIconButton RefBack="context" Icon="cancel" OnClick="CancelAdding"></MatIconButton>
            </MatTooltip>
        }
        else
        {
            <MatTooltip Tooltip="Add Period">
                <MatIconButton RefBack="context" Icon="add" OnClick="Add"></MatIconButton>
            </MatTooltip>
                        
        }
        <MatTooltip Tooltip="Back to Home">
            <MatIconButton RefBack="context" Icon="home" OnClick="OpenHome"></MatIconButton>
        </MatTooltip>
    </div>

    <MatBody2 Class="h-100 text-center p-4">
        @if (IsAdding)
        {
            <EditForm EditContext="PeriodContext">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <MatTextField @bind-Value="PeriodModel.Name" Label="Period Name" HelperText="Period Display Name" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => PeriodModel.Name"></ValidationMessage>
                </div>
                <div>
                    <MatTextField @bind-Value="PeriodModel.FolderName" Label="Period Folder Name" HelperText="Period Folder Name" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => PeriodModel.FolderName"></ValidationMessage>
                </div>
            </EditForm>
        }
        else
        {
            @foreach (var period in Periods.Select((val, i) => new {i, val}))
            {
                <PeriodListData Period="@period.val" StartDivider="true" EndDivider="@(period.i == Periods.Count - 1)"></PeriodListData>
                                                   
            } 
        }
    </MatBody2>
</MatCard>