@page "/subjects/{Id}"
@using UniAssist.Enums

<MatCard Class="content-card p-2" Stroke="true">
    <div class="page-title">
        <h1>@Subject.LongName</h1>
        <span class="spacer"></span>
        @if (State == PageState.Editing)
        {
            <MatTooltip Tooltip="Save Subject creating">
                <MatIconButton RefBack="context" Icon="save" OnClick="SaveEditing"></MatIconButton>
            </MatTooltip>
            <MatTooltip Tooltip="Cancel Subject creating">
                <MatIconButton RefBack="context" Icon="cancel" OnClick="CancelEditing"></MatIconButton>
            </MatTooltip> 
        }
        else
        {
            @if (State == PageState.Content)
            {
                <MatTooltip Tooltip="Edit Period">
                    <MatIconButton RefBack="context" Icon="edit" OnClick="EditSubject"></MatIconButton>
                </MatTooltip>
            }
        }
        
        
        @if (State == PageState.Content)
        {
            <MatTooltip Tooltip="Back to Periods">
                <MatIconButton RefBack="context" Icon="keyboard_backspace" OnClick="OpenSubjects"></MatIconButton>
            </MatTooltip>
            <MatTooltip Tooltip="Back to Home">
                <MatIconButton RefBack="context" Icon="home" OnClick="OpenHome"></MatIconButton>
            </MatTooltip>
        }
    </div>

    <MatBody2 Class="h-100 text-center p-4">
        @if (State == PageState.Editing)
        {
            <EditForm EditContext="SubjectContext">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <MatTextField @bind-Value="SubjectModel.LongName" Label="Long Name" HelperText="Subject Long Name" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => SubjectModel.LongName"></ValidationMessage>
                </div>
                <div>
                    <MatTextField @bind-Value="SubjectModel.ShortName" Label="Short Name" HelperText="Subject Short Name" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => SubjectModel.ShortName"></ValidationMessage>
                </div>
                <div>
                    <MatTextField @bind-Value="SubjectModel.Code" Label="Code" HelperText="Subject Code" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => SubjectModel.Code"></ValidationMessage>
                </div>
                <div>
                    <MatTextField @bind-Value="SubjectModel.Description" Label="Description" HelperText="Subject Description" FullWidth="true" TextArea="true"></MatTextField>
                    <ValidationMessage For="() => SubjectModel.Description"></ValidationMessage>
                </div>
                <div>
                    <MatNumericUpDownField @bind-Value="SubjectModel.Credit" Label="Credit" HelperText="Subject Credit" FullWidth="true" DecimalPlaces="0" Step="1" Minimum="0" Maximum="10"></MatNumericUpDownField>
                    <ValidationMessage For="() => SubjectModel.Credit"></ValidationMessage>
                </div>
                <div>
                    <MatTextField @bind-Value="SubjectModel.FolderName" Label="Folder Name" HelperText="Subject Folder Name" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => SubjectModel.FolderName"></ValidationMessage>
                </div>
                <div>
                    <MatNumericUpDownField @bind-Value="SubjectModel.Result" Label="Mark" HelperText="Subject Result" FullWidth="true" DecimalPlaces="0" Step="1" Minimum="1" Maximum="5"></MatNumericUpDownField>
                    <ValidationMessage For="() => SubjectModel.Result"></ValidationMessage>
                </div>
            </EditForm> 
        }
        @if (State == PageState.Content)
        {
            
        }
    </MatBody2>
</MatCard>